# Terraform
.terraform/*
*.tfstate
*.tfstate*
*.tfstate.backup
secrets.tfvars
*.terraform*

# Secrets 
*.pem
*.pub
# Crash log files
crash.log

# Ansible
*.retry
*.ansible/* 


# Git
 *.git 

# Randome
*.test*

# Add to fix token issue/error from stackoverflow https://stackoverflow.com/questions/43378060/meaning-of-the-github-message-push-declined-due-to-email-privacy-restrictions
# git config --global user.email {ID}+{username}@users.noreply.github.com
# git commit --amend --reset-author